var
etc
org-roam.db
build-emacs-macos
emacs
td
cache
tramp
emacs.org
elpa
*.log
*.gz
*.pdf
*.aux
.auctex-auto
custom.el
mind-wave
request
tree-sitter
.cache
modules
reveal.js
straight
librime
transient
sdcv-dict
org2calendar